:root {
    --primarycolor : #eee3d3; 
    --secondarycolor : #323232;
    --thirdcolor: #000000 ;
    --fourthcolor: #FFFFFF ; 
    --Navigation-font-size : 20px;
    --title-font-size: 60px ;
    --desc-font-size: 30px ;

    --Navigation-background-color: #eee3d3;
    
    --appBar-text-color: #323232;
    --Navigation-primary-color: #000000;
    --Navigation-secondary-color: #FFFFFF;

    --user-Navigation-background-color: #FFFFFF;
    --user-appBar-text-color: #323232;
    --user-Navigation-secondary-color:#eee3d3;

    
    
    --background-color: #FFFFFF;
    --text-color: #000000; 

    --sides-padding : 80px;

    --WeeklyPost-Title1-font-weight: 600;
    --WeeklyPost-Title2-font-size: 30px; 
    --weeklyPost-margin : 10px;
    --weeklyPost-Description-font-size: 18px;

    --posts-Title-font-size : 20px;
    --posts-Title-font-weight: 600;
    --posts-Description-font-size : 15px;
}