:root
{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1 : #222; 
    --black2 : #999;
    --red: #CE5A67;
}
.DetailsWrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    
    
}
.inputWrapper {
    width:40%;
    height: 100%;
    margin: 0 10px ;
    position: relative;
}

.inputWrapper .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: larger;
    outline: none;
    margin-bottom: 80px;
    transition: 0.5s;
}
.Autocomplete {
    margin-bottom: 80px; 
    border: none;
}  
.AutocompleteFilled {
    margin-bottom: 80px; 
    border: 2px solid var(--blue) ;
    border-radius: 5px;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: var(--blue) !important;
    font-size: large !important;
    padding: 0 10px !important;
    background: white;
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue) ;
    letter-spacing: 0.2em !important;
}
.Autocomplete .Chip {
    width: 100%;
}
.css-1h51icj-MuiAutocomplete-root .MuiAutocomplete-tag {
    width: 20%  ;
}
.inputWrapper  .span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #ccc;
}
.inputWrapper .input:valid,
.inputWrapper .input:focus {
    border: 2px solid var(--blue);
}
.input:valid ~ .span,
.input:focus ~ .span 
{
    color: var(--blue);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.9em;
    padding: 0 10px;
    background: white;
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue) ;
    letter-spacing: 0.2em;
}
.inputWrapper .select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: larger;
    outline: none;
    margin-bottom: 80px;
    transition: 0.5s;
    cursor: pointer;
}
.inputWrapper .select:valid,
.inputWrapper .select:focus {
    border: 2px solid var(--blue);
}
.inputWrapper .Selectspan {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: #ccc;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.9em;
    padding: 0 10px;
    background: white;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc ;
    letter-spacing: 0.2em;
}
.inputWrapper .select:valid ~ .Selectspan,
.inputWrapper .select:focus ~ .Selectspan {
    color: var(--blue);
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue) ;
}

.ButtonWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Details-submit-button {
    background-color: #fff;
    border: 3px solid var(--blue);
    color: var(--blue);
    border-radius: 15px;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    width: 30%;
    margin: auto;
    height: 40px;
    
}
.Details-Goback-button {
    background-color: #fff;
    border: 3px solid var(--red);
    color: var(--red);
    border-radius: 15px;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    width: 30%;
    margin: auto;
    height: 40px;
}
.Details-submit-button:hover {
    background-color: var(--blue);
    color: #fff;
    
}
.Details-Goback-button:hover {
    background-color: var(--red);
    color: #fff;
    
}