.UploadContainer {
    width: 35%;
    padding: 30px;
}
.UploadContainer header {
    color: var(--primarycolor);
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
.UploadContainer form {
    height: 150px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed var(--primarycolor);
    cursor: pointer;
}
.UploadContainer form :where(ion-icon, p) {
    color: var(--primarycolor);
}
.UploadContainer form ion-icon {
    font-size: 50px;
}
.UploadContainer form p {
    font-size: 16px;
    margin-top: 15px;
}
.UploadContainer section .row-input {
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.UploadContainer section .row-input ion-icon {
    font-size: 30px;
    color: var(--primarycolor);
}
.UploadContainer .progress-area .row-input .content {
    width: 100%;
    margin-left: 15px;
}
.UploadContainer section .details span {
    font-size: 14px;
}
.UploadContainer .progress-area .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}
.progress-area .progress-bar {
    height: 6px;
    width: 100%;
    background: var(--white);
    margin-bottom: 4px;
    border-radius: 30px;
}
.progress-area .progress-bar .progress {
    height: 100%;
    background: var(--primarycolor);
    border-radius: inherit;
}
.UploadContainer .uploaded-area .row-input .content {
    display: flex;
    align-items: center;
}
.UploadContainer .uploaded-area .row-input .detail {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
.UploadContainer .uploaded-area .row-input ion-icon {
    color: var(--primarycolor);
    font-size: 16px;
}

.VideoInputContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.PodcastInputContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}