  .login-text{
    width: 100%;
    color: black;
    line-height: 30px;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
  }
  
  
  
  .show {
    display: block;
    transition: 800ms;
    opacity: 1;

  }
  .show.active {    
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
  }
  .popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup .popup-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.popup .popup-content .logo {
  width: 100px;
  height: 100px;
}
.popup .popup-content .close {
  color: var(--primarycolor);
  position: relative;
  font-size: 40px;
  left: 200px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.close:hover {
    background-color: #f1efef;
    border-radius: 50%;
}
.popup .popup-content .Title {
  font-weight: 600;
  font-size: 28px;
  color: var(--secondarycolor);
}
.popup .popup-content .SignIn {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.popup .popup-content  .InputWrapper {
  position: relative;
  width: 65%;
  margin-top: 25px;
}
.popup .popup-content  .InputWrapper .input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 3px solid #d1cccc;
  border-radius: 15px;
  font-size: 17px;
}
.popup .popup-content  .InputWrapper .input:hover {
    border: 3px solid #868686;
}
.popup .popup-content  .InputWrapper .input:focus {
  outline: none;
  border: 3px solid var(--blue);
}
.popup .popup-content  .InputWrapper  .label {
  position: absolute;
  left: 0;
  padding: 15px;
  pointer-events: none;
  font-size: 1em;
  color: #ccc;
}
.popup .popup-content  .InputWrapper .input:valid ~ .label
{
    display: none;
}
.popup .popup-content  .InputWrapper  .showPassword {
  position: absolute;
  padding: 15px;
  font-size: 25px;
  right: 0;
  color: #868686;
  cursor: pointer;
}

.popup .popup-content  .InputWrapper .submit {
  width: 98%;
  height: 50px;
 
  background-color: var(--secondarycolor);
  color: var(--fourthcolor);
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.popup .popup-content  .InputWrapper .return {
  width: 98%;
  height: 50px;
  
  background-color: var(--primarycolor);
  color: var(--fourthcolor);
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.popup .popup-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.popup .popup-content .Info {
  margin-top: 10px;
  font-size: 13px;
  width: 65%;
  text-align: center;
}
.popup .popup-content .Info a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
}
.popup .popup-content .Info a:hover {
  text-decoration: underline;
}
.popup .popup-content  .googleLogin {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nsm7Bb-HzV7m-LgbsSe{
 width: 600px;
 border: 1px solid blue;
}
/*************************** SIGN UP **********************/
.popup .popup-content .SignUpWrapper {
  margin-top: 10px;
}
.popup .popup-content .duoInput {
  width: 95%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.react-tel-input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
}
.react-tel-input .special-label {
  
}
.react-tel-input .form-control {
  position: absolute;
  height: 50px;
  top: -2px;
  left: 0;
  padding-left: 40px;
  width: 100%;
  border-radius: 15px;
  border: 3px solid #d1cccc;
}
.react-tel-input:hover .form-control {
  border: 3px solid #868686;
}
.react-tel-input .form-control:focus {
  border: 3px solid var(--blue);
}

.react-tel-input .flag-dropdown {
  height: 89%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  left: 1px;
}
.react-tel-input .flag-dropdown.open {
  height: 89%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  left: 1px;
  
}
.react-tel-input  .country-list{
  top: 40px;
}
.popup .popup-content .ButtonWrapper {
  display: flex;
  justify-content: space-between;
}
.popup .popup-content .SignUpWrapper .Uploader {
  width: 90%;
  margin: auto;
}

.popup .popup-content .SignUpWrapper .Uploader form {
  height: 70px;
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed var(--primarycolor);
  cursor: pointer;
}
.popup .popup-content .SignUpWrapper .Uploader form :where(ion-icon, p) {
  color: var(--primarycolor);
}
.popup .popup-content .SignUpWrapper .Uploader form ion-icon {
  font-size: 30px;
}
.popup .popup-content .SignUpWrapper .Uploader form p {
  font-size: 16px;
  margin-top: 15px;
  font-family: "Roboto";
}
.popup .popup-content .SignUpWrapper .Uploader section .row-input {
  background: #e9f0ff;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup .popup-content .SignUpWrapper .Uploader section .row-input ion-icon {
  font-size: 30px;
  color: var(--blue);
}
.popup .popup-content .SignUpWrapper .Uploader .progress-area .row-input .content {
  width: 100%;
  margin-left: 15px;
}
.popup .popup-content .SignUpWrapper .Uploader section .details span {
  font-size: 14px;
}
.popup .popup-content .SignUpWrapper .Uploader .progress-area .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.popup .popup-content .SignUpWrapper .Uploader .progress-area .progress-bar {
  height: 6px;
  width: 100%;
  background: var(--white);
  margin-bottom: 4px;
  border-radius: 30px;
}
.popup .popup-content .SignUpWrapper .Uploader .progress-area .progress-bar .progress {
  height: 100%;
  background: var(--blue);
  border-radius: inherit;
}
.popup .popup-content .SignUpWrapper .Uploader .uploaded-area .row-input .content {
  display: flex;
  align-items: center;
}
.popup .popup-content .SignUpWrapper .Uploader .uploaded-area .row-input .detail {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.popup .popup-content .SignUpWrapper .Uploader .uploaded-area .row-input ion-icon {
  color: var(--blue);
  font-size: 16px;
}