    .login-text{
    width: 100%;
    color: black;
    line-height: 30px;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
  }
  
  
  
  .show {
    display: block;
    transition: 800ms;
    opacity: 1;

  }
  
  .show.active {
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
  }

  .popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5%;
}
.popup-contentsign-up {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

form a {
  text-decoration: underline;
  color: #287bff;
  cursor: pointer;
}
